---
export interface BreadcrumbItem {
  label: string;
  href?: string;
}

interface Props {
  items: BreadcrumbItem[];
  class?: string;
}

const { items } = Astro.props;
const className = Astro.props.class;
---

<nav
  class:list={['shared-breadcrumbs', className]}
  aria-label='Breadcrumb'>
  {
    items.map((item, index) => (
      <>
        {index > 0 && <span aria-hidden='true'>/</span>}
        {item.href ? <a href={item.href}>{item.label}</a> : <span>{item.label}</span>}
      </>
    ))
  }
</nav>
