---
interface Props {
  href: string;
  variant?: "primary" | "ghost";
  size?: "base" | "large";
  ariaLabel?: string;
  target?: string;
  rel?: string;
}

const {
  href,
  variant = "ghost",
  size = "base",
  ariaLabel,
  target,
  rel
} = Astro.props;
---

<a
  class:list={[
    "button",
    variant === "primary" ? "button--primary" : "button--ghost",
    size === "large" && "button--large"
  ]}
  href={href}
  aria-label={ariaLabel}
  target={target}
  rel={rel}
>
  <slot />
</a>
