---
interface Props {
  as?: "article" | "li";
  className?: string;
  index?: string;
  indexClass?: string;
}

const {
  as = "article",
  className = "",
  index,
  indexClass = "service-card__index"
} = Astro.props;

const Tag = as;
---

<Tag class={className} data-animate="reveal" data-reveal="fade-up">
  {index && <span class={indexClass}>{index}</span>}
  <slot />
</Tag>
